@import '../../style/common.less';

.root {
    img {
        height: 100px;
        width: auto;
        margin: 0 auto;
        padding: 10px;
        padding-top: 24px;
    }
    .deleteBtn {
        text-align: right;
    }
    .selected {
        transition: all .03s !important;
        border-color: @blue !important;
    }
}