body, .ant-layout {
    /*background-color: #f8f8f8 !important;*/
    background-color: white !important;
}
#sider {
    width: 200px;
    background-color: white;
}
.ant-layout-header{
    background: white !important;
}
button {
    border-radius: 0px !important;
}
.ant-card-body {
    padding: 10px !important;
}
.ant-list-pagination {
    text-align: center !important;
}
.inline {
    display: inline-block;
    padding-right: 8px;
}