@import '../../style/common.less';

.root {
    background: @content-color;
    padding: 2%;
    background-color: white;
    border: 1px solid lightgray;    
    transition-property: border-color;
    transition-duration: @anim-time;    
    box-shadow: 0 0 10px #cecece;
    border-color: @blue;

    img {
        max-width: 100px;
    }
    h1 {
        text-align: center;
    }
    .otherText {
        margin-bottom: 0px;
        padding-top: 14px;
        color: @blue;
        @media @phone {
            & {
                padding-top: 0px;
            }
        }
    }
    .arrow {
        font-size: 2.5em;
        margin-bottom: 0.5em;
        color: @blue;
        line-height: 0.7em;
    }
    .inline {
        display: inline-block;
        padding-right: 8px;
    }

    .submit {
        width: fit-content;
        margin: 0 auto;
        margin-top: 5px;
        padding: 15px 35px;
        height: auto;
        font-size: 18px;
        box-shadow: 2px 3px 10px #cecece;
        
        &:hover {
            background-color: #26bd00;
            border-color: #26bd00;
        }
    }
}