@import '../../common/common.less';

.root {
    padding-top: 20px;
    
    .listItem {
        /*list-style-type: none;
        display: inline-block;
        background: white;
        width: 100%;
        border: @border;
        padding: 1%;
        */
        /*&:hover {
            border-color: @blue;
            box-shadow: @shadow;
            color: @blue;
        }*/

        img {
            width: 50px;
            height: 50px;
        }
        span {
            padding: 20px;
        }
        a {
            color: @font-color;
        }
    }

    .right{
        float: right;
        font-size: 1.5em;
        padding: 4%;
        
        i {
            padding-left: 20px;
        }
    }
}