@import '../common/common.less';

.root {
    top: 0px;
    z-index: 1; 
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    padding: @small-padding;
    padding-bottom: 0px;
    
    .wrapper {
        max-width: @max-width;
        margin: 0 auto;
    }
}