@import '../common/common.less';

.root {
    top: 0px;
    z-index: 1; 
    width: 100%;
    border-bottom: @border;
    background: white;
    box-shadow: @shadow;
    
    .wrapper {
        max-width: @max-width;
        margin: 0 auto;
        padding: @small-padding;
        padding-bottom: 0px;
    }

}