body, .ant-layout {
    /*background-color: #f8f8f8 !important;*/
    background-color: white !important;
}
#sider {
    width: 200px;
    background-color: white;
}
.ant-layout-header{
    background: white !important;
}
button {
    border-radius: 0px !important;
}