@import '../../style/common.less';

.root {
    margin: 0 auto;
    text-align: center;

    @media @phone {
        min-height: 57px;
    }

    .select {
        margin-top: 10px;
        @media @phone {
            margin-top: 20px;
        }
    }

    .cityInfo {
        .cityName {
            font-size: 1.75em;    
            text-decoration: underline;        
            &:hover {
                color: rgb(38, 189, 0);
            }
        }
        .question {
            text-align: center;
            display: block;
            margin: 0 auto;
            margin-bottom: -10px;
        }
    }
}