.root {
    margin: 0 auto;
    text-align: center;

    .cityInfo {

        .cityName {
            font-size: 1.75em;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}