@import '../../common/common.less';

.root {
    @media @phone {
        text-align: center;
    }
    @media @tablet {
        text-align: left;
    }
    @media @desktop {
        text-align: left;
    }
    img {
        max-height: 70px;
        @media @tablet {
            margin-top: @margin-top-head;
            margin-bottom: @margin-bottom-head;
        }
        @media @desktop {
            margin-top: @margin-top-head;
            margin-bottom: @margin-bottom-head;
        }
    }
}