@import '../../common/common.less';

.root {
    @media @phone {
        text-align: center;
    }
    @media @tablet {
        text-align: left;
    }
    @media @desktop {
        text-align: left;
    }
    img {
        max-height: 70px;
        @media @tablet {
            margin-top: 5%;
            margin-bottom: -7%;
        }
        @media @desktop {
            margin-top: 5%;
            margin-bottom: -7%;
        }
    }
}